<main class="main">
  <div class="content">
    
    <div class="side left">

      <div>
        <span class="title">
          Get
          <span>
            insights
          </span>
          that help
          your business grow.
        </span>
  
        <p>
          Discover the benefits of data analytics and make
          better decisions regarding revenue, customer
          experience, and overall efficiency. 
        </p>
      </div>

      <div class="stats">
        <div class="stat-item">
          <span class="stat-value">10k+</span>
          <span class="stat-title">COMPANIES</span>
        </div>
        <div class="stat-item">
          <span class="stat-value">314</span>
          <span class="stat-title">TEMPLATES</span>
        </div>
        <div class="stat-item">
          <span class="stat-value">12M+</span>
          <span class="stat-title">QUERIES</span>
        </div>
      </div>

    </div>
    
    <div class="side right">
      <div class="img"></div>
    </div>

  </div>
</main>

<router-outlet />
